:host{
    .example-input-wrapper {
        margin-bottom: 16px;
      }
      
      label {
        margin-right: 4px;
      }

      .btn-calcular{
        margin-top: 10px;
        margin-bottom: 20px;
      }

}